name: Docker Image

# Controls when the action will run. 
on:
  # When a release is published
  release:
    types: [published]

  # Push excluding tags and workflow changes
  push:
    branches:
        - main
    tags-ignore:
      - '*.*'
    paths-ignore:
      - '**/*.md'  

jobs:

  image_keycloak:
  
    env:
      PLATFORM: linux/amd64,linux/arm64

    runs-on: ubuntu-latest

    steps:
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
          
      - name: Set tags
        run: |
          if [ -z "$TAG" ]; then
            echo "TAG=-t openremote/keycloak:develop" >> $GITHUB_ENV
          else
            echo "TAG=-t openremote/keycloak:latest -t openremote/keycloak:$TAG" >> $GITHUB_ENV
          fi
        env:
          TAG: ${{ github.event.release.tag_name }}
          
      - uses: actions/checkout@v2

      - name: set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21
          
      - name: grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: build with Gradle
        run: ./gradlew installDist
        
      - name: set up QEMU
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
          
      - name: install buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          install: true
          
      - name: available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
        
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets._TEMP_DOCKERHUB_USER }}
          password: ${{ secrets._TEMP_DOCKERHUB_PASSWORD }}
        
      - name: build and push images
        run: |
          docker build --build-arg GIT_COMMIT=${{ github.sha }} --push --platform $PLATFORM $TAG .
